---
import Layout from "@/layouts/Layout.astro";

import { Image } from "astro:assets";
import HomeEntry from "../components/HomeEntry.astro";
import spikeSpiegel from "@/media/gif/spike.gif";
import { technologies } from "@/data/technologies.ts";
import Technology from "@/components/Technology.astro";
import Project from "@/components/Project.astro";
import { projects } from "@/data/projects";
import Timeline from "@/components/Timeline/Timeline.astro";
import TimelineItem from "@/components/Timeline/TimelineItem.astro";
import { experience } from "@/data/experience";
import { Icon } from "astro-icon/components";
import CV from "@/media/pdf/CV.pdf";
import icon from "@/media/images/icon.webp";
import Contact from "@/components/Contact.svelte";
---

<Layout
  title="Inicio"
  description="Bienvenido al portfolio de Juan Luis Sanchez Pozo. Espero que disfrutes de la instancia 游땦"
  lang="es"
>
  <main
    class="h-screen flex lg:flex-row flex-col-reverse items-center justify-center gap-4"
    id="home"
  >
    <div class="flex flex-col gap-1">
      <h1 class="lg:text-5xl text-3xl font-bold">Juan Luis S치nchez Pozo</h1>
      <div class="flex gap-4 h-6 items-center">
        <span
          class="text-xl -mt-1 relative after:content-[''] after:absolute after:-bottom-[2px] after:left-0 after:w-full after:bg-blue-500 after:h-[2px] after:animate-pulse after:rounded-xl"
        >
          Full Stack Developer
        </span>
        <div class="flex h-full gap-2">
          {
            [
              {
                href: "https://www.linkedin.com/in/juan-luis-sanchez-pozo",
                ariaLabel: "Visitar LinkedIn",
                iconName: "bi:linkedin",
                hoverStyle: "hover:text-[#0073b1]",
              },
              {
                href: "https://github.com/arch-fan",
                ariaLabel: "Visitar GitHub",
                iconName: "bi:github",
                hoverStyle: "dark:hover:text-white hover:text-gray-500",
              },
            ].map((link) => (
              <a href={link.href} aria-label={link.ariaLabel} class="h-full">
                <Icon
                  name={link.iconName}
                  class={`h-full w-auto ${link.hoverStyle}`}
                />
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <Image
      src={icon}
      alt="Icon"
      srcset={`${icon} 1x, ${icon} 2x`}
      class="rounded-full"
      width={200}
      height={200}
      loading="eager"
    />
  </main>

  <HomeEntry title="Sobre m칤" id="about-me">
    <div class="grid lg:grid-cols-2 mt-4 place-items-center">
      <div class="flex flex-col gap-4">
        <p id="me">
          Hola, mi nombre es <span class="dark:text-blue-400 text-blue-700"
            >Juan</span
          >, tengo $years$ a침os y soy un desarrollador Full Stack Junior.
          Actualmente me encuentro estudiando un Grado Superior de Desarrollo de
          Aplicaciones Multiplataforma (<strong>DAM</strong>) en el que estoy
          aprendiendo Java y creaci칩n de aplicaciones m칩viles en Android.
        </p>
        <p>
          Me encanta trabajar en proyectos interesantes que puedan hacerme
          crecer como desarrollador, adem치s de ser fan del open source. Espero
          con ansia empezar a estudiar Ingenier칤a de Software, aun que todav칤a
          me quedan un par de a침os.
        </p>
        <p>
          Algunos de mis hobbies son la lectura, la programaci칩n y los
          videojuegos.
        </p>
      </div>
      <Image src={spikeSpiegel} alt="Spike fumando" width={351} height={333} />
    </div>
  </HomeEntry>
  <HomeEntry title="Proyectos" id="projects">
    <div class="grid lg:grid-cols-3 grid-cols-2 mt-4 gap-2">
      {projects.map((project) => <Project {...project} />)}
    </div>
  </HomeEntry>
  <HomeEntry title="Tecnolog칤as">
    <div class="flex-col mt-4 gap-4 grid grid-cols-[24px_max-content_1fr]">
      {
        technologies
          .sort((a, b) => b.percentage - a.percentage)
          .map((tech) => <Technology {...tech} />)
      }
    </div>
  </HomeEntry>
  <HomeEntry title="Experiencia">
    <Timeline>
      {experience.map((job) => <TimelineItem {...job} />)}
    </Timeline>

    <div class="flex w-full justify-center">
      <a
        href={CV}
        class="p-3 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-800 bg-blackrounded rounded border dark:border-white border-black shadow"
      >
        Descargar CV
      </a>
    </div>
  </HomeEntry>
  <HomeEntry title="Cont치ctame" centerTitle={true}>
    <Contact client:idle className="mt-4 flex flex-col lg:w-96 w-full" />
  </HomeEntry>
</Layout>

<script>
  const calculateAge = (birthdayString: string) => {
    const birthday = new Date(birthdayString);
    const today = new Date();
    let age = today.getFullYear() - birthday.getFullYear();

    if (
      today.getMonth() < birthday.getMonth() ||
      (today.getMonth() === birthday.getMonth() &&
        today.getDate() < birthday.getDate())
    ) {
      age--;
    }

    return age;
  };

  const replaceAgeInText = (element: HTMLElement, age: string) => {
    if (element) {
      element.innerHTML = element.innerHTML.replace("$years$", age);
    }
  };

  const $meText = document.querySelector("#me") as HTMLParagraphElement;
  const age = calculateAge("2005-01-25");

  replaceAgeInText($meText, age.toString());
</script>
