---
import { projects, type ProjectInstance } from "@/data/projects";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (() => {
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}) satisfies GetStaticPaths;

const { project } = Astro.props;
const { name, image, description, technologiesIcons, link } = project;
---

<Layout title={name} description={description} lang="es">
  <main class="pt-32 flex flex-col gap-4 mb-12 max-w-3xl m-auto">
    <Image
      src={image}
      alt={name}
      width={820}
      height={461}
      class="border-4 dark:border-dark-title border-light-title rounded"
      loading="eager"
    />
    <h1
      class="text-5xl text-center dark:text-dark-title text-light-title font-bold"
    >
      {name}
    </h1>
    <p class="text-xl">{description}</p>
    <a
      href={link}
      class="self-center border py-2 px-4 rounded border-black dark:border-dark-title hover:scale-110 transition-all dark:hover:bg-dark-main-900 hover:bg-light-main-100"
      >Visitar proyecto</a
    >
    <ul
      class="grid gap-6 grid-cols-3 lg:grid-cols-6 w-full place-items-center mt-2"
    >
      {
        technologiesIcons.map((techIcon) => (
          <li class="w-12 border-r border-b dark:border-dark-title border-black box-content py-6 px-4 rounded shadow hover:border-0 hover:shadow-none cursor-crosshair hover:translate-y-1">
            <Icon name={techIcon} class="w-full h-auto" />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
