---
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
  lang: string;
  description: string;
}

const { title, lang, description } = Astro.props;
---

<!doctype html>
<html lang={lang} class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content=`${description}` />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Juan Luis Sanchez Pozo</title>
    <ViewTransitions />
    <meta
      property="og:image"
      content={`https://arch-fan.com/api/og?title=${title}`}
    />
    <meta
      name="twitter:image"
      content={`https://arch-fan.com/api/og?title=${title}`}
    />
  </head>
  <body class="dark:bg-dark-main bg-light-main transition duration-800">
    <slot />
    <style is:global>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
